.columnForm {
    text-align: center;
    padding: 10px;
}

.labelForm {
    margin-left: 5px;
    margin-right: 5px;
}

@media (max-width: 425px) {
    .labelForm {
        margin-left: 50px;
        margin-right: 50px;
    }
}